<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.16/vuetify.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.16/vuetify.js"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
{% raw %}
<div id="app">
    <v-container>
        <v-app id="inspire">
                <v-toolbar color="" :dark=false>
                        <img 
                            src="https://materialsdatafacility.org/images/MDF-logo@2x.png"
                            height="50">
                        <v-spacer></v-spacer>
                        <v-btn href="https://petreldata.net/mdf/?q=*&filter-match-any.mdf.resource_type=dataset"> Browse Datasets </v-btn>
                        <v-btn> My Submissions </v-btn>
                </v-toolbar>
            <v-content>
                <v-layout left-justify>
                    <v-flex xs20 sm12>
                        <v-toolbar color="primary" dark>
                            <v-toolbar-title>Describe Your Dataset</v-toolbar-title>
                        </v-toolbar>
                        <v-container fluid fill-width>
                            <v-form ref="form" v-model="state.valid" lazy-validation>
                                <!-- Title Elements -->
                                <v-text-field v-model="form.dc.title" :rules="rules.title" label="Title" required>
                                </v-text-field>
                                <!-- END Title Elements -->


                                <!-- Author Elements -->
                                Add authors in the form of Einstein, Albert or Marie S. Curie. Press 'Enter/Return' or ';'' to create a new entry.
                                <v-combobox v-model="form.dc.authors" :delimiters="[';']" :rules="rules.combo" label="Authors" chips clearable solo multiple>
                                    <template v-slot:selection="data">
                                        <v-chip outline color="primary" :selected="data.selected" close
                                            @input="remove_author(data.item)">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                                <!-- END Author Elements -->


                                <!-- Affiliation Elements -->
                                Add affiliations. Press 'Enter/Return', ',', or ';'' to create a new entry or select from the pre-filled options.
                                <v-combobox v-model="form.dc.affiliations" :delimiters="[';',',']" :rules="rules.combo" :items="options.affiliations"
                                    label="Affiliations" required chips clearable solo multiple>
                                    <template v-slot:selection="data">
                                        <v-chip outline color="primary" :selected="data.selected" close
                                            @input="remove_affiliation(data.item)">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                                <!-- END Affiliation Elements -->


                                <!-- Data Location Elements -->
                                Add data locations: http://myhost.com/myfile.zip or globus://my_ep/my_path
                                <v-btn outline color="primary" href="https://app.globus.org/file-manager" target="_blank">
                                    Find data location with Globus
                                </v-btn>
                                <v-combobox v-model="form.data" :rules="rules.combo" :delimiters="[';',',']" label="Data locations" chips clearable solo multiple>
                                    <template v-slot:selection="data">
                                        <v-chip outline color="primary" :selected="data.selected" close
                                            @input="remove_data(data.item)">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                                <!-- END Data Elements -->


                                <!-- Tag Elements -->
                                Add tags. Press 'Enter/Return', ',' or ';' to create a new entry or select from the pre-filled options.
                                <v-combobox v-model="form.dc.subjects" :delimiters="[',',';']" label="Tags" chips :items="options.subjects"
                                    clearable solo multiple>
                                    <template v-slot:selection="data">
                                        <v-chip outline label color="primary" :selected="data.selected" close
                                            @input="remove_tag(data.item)">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                                <!-- END Tag Elements -->


                                <!-- Description Elements -->
                                <v-textarea name="input-7-1" v-model="form.dc.description" box
                                    label="Dataset description (accepts markdown)" auto-grow value=""
                                    @input="update_markdown">
                                </v-textarea>
                                <!-- END Description Elements -->


                </v-layout>


                <!-- Choose Data Destination Elements -->
                <div>
                    <v-layout left-justify>
                        <v-flex xs20 sm12>
                            <v-toolbar color="primary" dark>
                                <v-toolbar-title>Choose Data Destinations</v-toolbar-title>
                            </v-toolbar>
                            <v-card>
                                <v-container fluid grid-list-sm>
                                    <v-layout row wrap>
                                        <v-flex v-for="card in options.services" :key="card.title"
                                            v-bind="{ [`xs${card.flex}`]: true }">
                                            <v-card>
                                             <v-card-title>
                                                <span class="title font-weight-heavy">{{card.title}}</span>
                                                <v-spacer></v-spacer>
                                                <v-img :src="card.img" max-width="200" ></v-img>
                                            </v-card-title>
                                                <v-container fill-height fluid pa-2>
                                                    <v-layout fill-height>
                                                        <v-flex xs12 align-end flexbox>
                                                            <p>{{card.desc}}  </p>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-container>
                                                <v-card-actions>
                                                    <v-checkbox v-model="form.services[card.value]" :label="card.label"
                                                        :value="!form.services[card.value]"></v-checkbox>
                                                </v-card-actions>
                                            </v-card>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                        </v-flex>
                </div>
                <!-- END Choose Data Destination Title Elements -->


            </v-form>

            <!-- Warning Elements -->
                <v-layout left-justify>
                    <v-flex xs20 sm12>
                        <v-toolbar color="primary" dark>
                            <v-toolbar-title>Preview</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        
                        <v-card>
                          <v-alert
                            v-if="form.test"
                            :value="true"
                            color="warning"
                            icon="priority_high"
                            outline
                            >
                            This is a test submission.
                            </v-alert>
                            <v-alert
                            v-if="form.passthrough"
                            :value="true"
                            color="warning"
                            icon="priority_high"
                            outline
                            >
                        Data extraction will be skipped.
                        </v-alert>
                            <v-card-title primary-title>
                                <div>
                                    <h2 class="headline mb-0">{{form.dc.title}}</h2>
                                    <i>{{ form.dc.authors.join('; ') }}</i>
                                    <ol>
                                    <li v-for="aff in form.dc.affiliations">
                                        {{ aff }}
                                        </li>
                                    </ol>
                                    <v-sheet v-if="form.dc.description"
                                        class="pa-3"
                                        color="grey lighten-4"
                                        elevation=2
                                    >
                                    <div v-html="state.markdown"></div>
                                    </v-sheet>

                                    <v-chip outline label color="primary" v-for="tag in form.dc.subjects">
                                        {{tag}}
                                    </v-chip>

                                    <h4>Data Locations</h4>
                                    <div> {{ form.data.join(', ') }} </div>
                                </div>
                            </v-card-title>

                            <v-card-actions>
                                <v-btn color="primary" @click="submit_dataset" v-if="state.response === null">Submit</v-btn>
                                <v-progress-circular
                                    indeterminate
                                    color="primary"
                                    v-if="state.spinner"
                                ></v-progress-circular>
                            </v-card-actions>
                        </v-card>
                      
                    <div v-if="state.response">
                            <v-layout left-justify>
                                <v-flex xs20 sm12>
                                    <v-toolbar color="primary" dark>
                                        <v-toolbar-title>Track Status</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                    </v-toolbar>
                                    <v-alert
                                v-if="!state.submit_success && state.response"
                                :value="true"
                                color="error"
                                icon="priority_high"
                                outline
                              >
                                Submission failed, please contact support with the information below.
                                <div>{{state.response.status}} - {{state.response.statusText}}</div>
                                <div> {{state.response.data.error}} </div>
                              </v-alert>

                              <v-alert
                                v-if="state.submit_success && state.response !== null"
                                :value="true"
                                color="success"
                                outline
                              >
                            <h1> Success! </h1>
                             <v-btn color="success" :href="/status/+state.response.data.source_id">
                               Track the status of your submission
                            </v-btn>
                              </v-alert>
                                </v-flex>
                            </v-layout>
                    </div>
                    
                    <!-- Advanced Options Elements -->
                     <v-toolbar color="primary" dark>
                            <v-toolbar-title>Advanced Options</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-checkbox v-model="form.test" label="Test Submission"
                        :value=false></v-checkbox>
                        <v-checkbox v-model="form.passthrough" label="Skip Data Extraction"
                        :value=false></v-checkbox>
                        <v-checkbox v-model="state.debug" label="Debug Mode"
                        :value=false></v-checkbox>
                    <!-- END Advanced Options Elements -->
                    

                    <!-- Debug Elements -->
                    <div id="debug" v-if="state.debug">
                    <v-toolbar color="primary" dark>
                            <v-toolbar-title>Debug</v-toolbar-title>
                    </v-toolbar>
                    <v-btn color="primary" @click="fill_dummy_data">Fill Dummy Data</v-btn>
                            {{form}}
                    </div>
                    <!-- END Debug Elements -->


                    </v-flex>
                </v-layout>
                <v-container>

        </v-app>
    </div>
    </v-content>
    </v-container>

<script src="./static/js/dataset_form.js"></script>

{% endraw %}

</body>

</html>