<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.10/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.10/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
     <title>MDF | Add Data</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
{%include 'header.jinja2'%}
{% raw %}
<div id="app">
    <v-container>
        <v-app id="inspire">
                <v-toolbar color="" :dark=false>
                    <v-toolbar-title></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn class="ma-2" href="https://petreldata.net/mdf/?q=*&filter-match-any.mdf.resource_type=dataset" target="_blank"> Browse Datasets </v-btn>
                    <v-btn class="ma-2" href="/submissions"> My Submissions </v-btn>
                    <v-btn class="ma-2" href="/curate"> My Tasks </v-btn>
                </v-toolbar>
            <v-content>
           
                <v-layout left-justify>
                    <v-flex xs20 sm12>
                        <v-toolbar color="primary" dark>
                            <v-toolbar-title>Describe Your Dataset</v-toolbar-title>
                        </v-toolbar>
                        <v-container fluid fill-width>
                            <v-form ref="form" v-model="state.valid" lazy-validation>
                                <!-- DOI Fill -->
                                <v-card tile class="mb-2">
                                    <v-card-title>Fill via DOI</v-card-title>
                                    <v-card-text>
                                        <p> Use an existing DOI to pre-populate some fields </p>
                                         <v-text-field v-model="state.doi" label="DOI" required>
                                    </v-text-field>
                                    <v-btn small color="primary" @click="fetch_doi">Go</v-btn>
                                    </v-card-text>
                                </v-card>

                                
                                <!-- -->

                                <!-- Title Elements -->
                                <v-card tile class="mb-2">
                                    <v-card-title>Set Title</v-card-title>
                                    <v-card-text>
                                         <v-text-field v-model="form.dc.title" :rules="rules.title" label="Title" required>
                                </v-text-field>
                                    </v-card-text>
                               
                                </v-card>
                                <!-- END Title Elements -->


                                <!-- Author Elements -->
                                <v-card tile class="mb-2">
                                    <v-card-title>Add authors</v-card-title>
                                <v-card-text>
                                    Accepts author names of the form of Einstein, Albert or Marie S. Curie. Press 'Enter/Return' or ';'' to create a new entry.
                                <v-combobox v-model="form.dc.authors" :delimiters="[';']" :rules="rules.combo" label="Authors" chips clearable solo multiple>
                                    <template v-slot:selection="data">
                                        <v-chip outlined color="primary" :input_value="data.selected" close
                                            @click:close="remove_item(data.item, 'form.dc.authors')">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                            </v-card-text></v-card>
                                <!-- END Author Elements -->


                                <!-- Affiliation Elements -->
                                <v-card tile class="mb-2">
                                    <v-card-title> Add affiliations</v-card-title>
                                    <v-card-text>
                                        Press 'Enter/Return', ',', or ';'' to create a new entry or select from the pre-filled options.
                                <v-combobox v-model="form.dc.affiliations" :delimiters="[';',',']" :rules="rules.combo" :items="options.affiliations"
                                    label="Affiliations" required chips clearable solo multiple>
                                    <template v-slot:selection="data">
                                        <v-chip outlined color="primary" :input_value="data.selected" close
                                            @click:close="remove_item(data.item, 'form.dc.affiliations')">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                                    </v-card-text>
                                </v-card>
                                
                                <!-- END Affiliation Elements -->




                                <!-- Data Location Elements -->
                                <v-card tile class="mb-2">
                                    <v-card-title>Add data locations.</v-card-title>
                                    <v-card-text>

                                <v-alert
                                    icon="mdi-shield-lock-outline"
                                    prominent
                                    text
                                    type="info"
                                >
                            <h5> For Globus Data </h5>
                            <ul>
                                <li>
                                    No additional permissions are required to share data from Globus endpoints
                                </li>
                                <li>
                                    Paths with `~` characters are invalid, full paths must be used
                                </li>
                                <li>
                                    Copy the link to your data with the `Get Link` button in the Globus web app
                                </li>
                                <li>
                                    Add this link as a data location
                                </li>
                            </ul>

                            <h5> For HTTP Data </h5>
                            <ul>
                            <li>Specify a public archive of the dataset. e.g., http://host.com/file.zip as a data location</li>
                            </ul>


                            <h5> For Google Drive Data </h5>
                            <ul>
                                <li>
                                Share the data path (read access) with materialsdatafacility@gmail.com
                                </li>
                                <li>
                                Add google:///my_path as a data location (note triple `/`)
                                </li>
                            </ul>
                            </v-alert>
                             <v-btn outlined color="primary" href="https://app.globus.org/file-manager" target="_blank">
                                    Find data  with Globus
                                </v-btn>
                                <v-btn outlined color="primary" href="https://drive.google.com" target="_blank">
                                    Find data with Google Drive
                                </v-btn>
    
                                <v-combobox v-model="form.data" :rules="rules.combo" :delimiters="[';',',']" label="Data locations" chips clearable solo multiple>
                                    <template v-slot:selection="data">
                                        <v-chip outlined color="primary" :input_value="data.selected" close
                                            @click:close="remove_item(data.item, 'form.data')">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                                </v-card-text>
                            </v-card>
                                <!-- END Data Elements -->


                                <!-- Tag Elements -->
                                <v-card tile class="mb-2">
                                    <v-card-title>Add tags.</v-card-title>
                                    <v-card-text>
                                Press 'Enter/Return', ',' or ';' to create a new entry or select from the pre-filled options.
                                <v-combobox v-model="form.dc.subjects" :delimiters="[',',';']" label="Tags" chips :items="options.subjects"
                                    clearable solo multiple>
                                    <template v-slot:selection="data">
                                        <v-chip outlined label color="primary" :input_value="data.selected" close
                                             @click:close="remove_item(data.item, 'form.dc.subjects')">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                            </v-card-text>
                            </v-card>
                                <!-- END Tag Elements -->

                                 <!-- Contact  Elements -->
                                <v-card tile class="mb-2">
                                    <v-card-title> Add dataset contacts.</v-card-title>
                                    <v-card-text>
                                Press 'Enter/Return', ',' or ';' to create a new entry.
                                <v-combobox v-model="form.contacts" :rules="rules.combo" :delimiters="[';',',']" label="Contact information" chips clearable solo multiple>
                                    <template v-slot:selection="data">
                                        <v-chip outlined color="primary" :input_value="data.selected" close
                                            @click:close="remove_item(data.item, 'form.contacts')">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                            </v-card-text>
                            </v-card>
                                <!-- END Data Elements -->



                                <!-- Description Elements -->
                                <v-card tile class="mb-2">
                                    <v-card-title> Set Description </v-card-title>
                                    <v-card-text>
                                <v-textarea name="input-7-1" v-model="form.dc.description" filled
                                    label="Dataset description (accepts markdown)" auto-grow value=""
                                    @click:close="update_markdown">
                                </v-textarea>
                            </v-card-text>
                        </v-card>
                                <!-- END Description Elements -->

                                <!-- Organization Elements -->
                                <v-card tile class="mb-2">
                                    <v-card-title> Add Organization </v-card-title>
                                    <v-card-text>
                                Organizations act as a template for how your dataset with be handled.
                                 <v-select v-model="form.organizations" :items="options.organizations"
                                attach
                                chips
                                label="Organizations"
                                multiple
                                ></v-select>
                            </v-card-text>
                        </v-card>
                                <!-- END Organization Elements -->

                                 <!-- Source Name Elements -->
                                <v-card tile class="mb-2">
                                    <v-card-title> Set Source Name </v-card-title>
                                    <v-card-text>
                                Source name is a unique identifier associated with your dataset. e.g., patel_my_dataset
                                <v-text-field v-model="form.source_name" label="Source Name" required>
                                </v-text-field>
                            </v-card-text></v-card>
                                <!-- END Source Name Elements -->


                </v-layout>


                <!-- Choose Data Destination Elements -->
                <div>
                    <v-layout left-justify>
                        <v-flex xs20 sm12>
                            <v-toolbar color="primary" dark>
                                <v-toolbar-title>Choose Data Destinations</v-toolbar-title>
                            </v-toolbar>
                            <v-card>
                                <v-container fluid grid-list-sm>
                                    <v-layout row wrap>
                                        <v-flex v-for="card in options.services" :key="card.title"
                                            v-bind="{ [`xs${card.flex}`]: true }">
                                            <v-card>
                                             <v-card-title>
                                                <span class="title font-weight-heavy">{{card.title}}</span>
                                                <v-spacer></v-spacer>
                                                <v-img :src="card.img" max-width="200" ></v-img>
                                            </v-card-title>
                                                <v-container fluid pa-2>
                                                    <v-layout >
                                                        <v-flex xs12 align-end flexbox>
                                                            <p>{{card.desc}}</p>
                                                             <v-checkbox v-model="form.services[card.value]" :label="card.label"
                                                        :value="!form.services[card.value]"></v-checkbox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-container>
                                                <v-card-actions>
                                                   
                                                </v-card-actions>
                                            </v-card>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                        </v-flex>
                </div>
                <!-- END Choose Data Destination Title Elements -->


            </v-form>

            <!-- Warning Elements -->
                <v-layout left-justify>
                    <v-flex xs20 sm12>
                        <v-toolbar color="primary" dark>
                            <v-toolbar-title>Preview</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                   
                        
                        <v-card class="pt-2">
                              <v-alert
                icon="mdi-check-bold"
                prominent
                text
                type="info">
                    Before proceeding, please be sure you have followed all of your institutional data release processes.
            </v-alert>
                          <v-alert
                            v-if="form.test"
                            :value="true"
                            type="info"
                            dense
                            outlined
                            >
                            This is a test submission.
                            </v-alert>
                            <v-alert
                            v-if="form.passthrough"
                            :value="true"
                            type="info"
                            dense
                            outlined
                            >
                        Data extraction will be skipped.
                        </v-alert>
                            <v-card-title primary-title>
                                    <h2 class="headline mb-0">{{form.dc.title}}</h2>
                            </v-card-title>

                             <v-card-text>
                             <i>{{ form.dc.authors.join('; ') }}</i>
                                    <ol>
                                    <li v-for="aff in form.dc.affiliations">
                                        {{ aff }}
                                        </li>
                                    </ol>
                                    <v-sheet v-if="form.dc.description"
                                        class="pa-3"
                                        color="grey lighten-4"
                                        elevation=2
                                    >
                                    <div v-html="state.markdown"></div>
                                    </v-sheet>

                                    <v-chip class="ma-1" outlined label color="primary" v-for="tag in form.dc.subjects">
                                        {{tag}}
                                    </v-chip>

                                    <h4>Data Locations</h4>
                                    <div> {{ form.data.join(', ') }} </div>
                            
                            <v-alert
                            v-if="!state.valid"
                            type="error"
                            dense
                            outlined
                            >
                            The submission is missing required inputs.
                            </v-alert>
                                   
                             </v-card-text>

                            <v-card-actions>
                                <v-btn color="primary" @click="submit_dataset" v-if="state.response === null || !state.submit_success">Submit</v-btn>
                                <v-progress-circular
                                    indeterminate
                                    color="primary"
                                    v-if="state.spinner"
                                ></v-progress-circular>
                            </v-card-actions>
                        </v-card>
                      
                    <div v-if="state.response">
                            <v-layout left-justify>
                                <v-flex xs20 sm12>
                                    <v-toolbar color="primary" dark>
                                        <v-toolbar-title>Track Status</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                    </v-toolbar>
                                    <v-alert
                                v-if="!state.submit_success && state.response"
                                :value="true"
                                color="error"
                                icon="priority_high"
                                outlined
                              >
                                Submission failed, please contact the MDF team (blaiszik@uchicago.edu) with the information below.
                                <div>{{state.response.status}} - {{state.response.statusText}}</div>
                                <div> {{state.response.data.error}} </div>
                              </v-alert>

                              <v-alert
                                v-if="state.submit_success && state.response !== null"
                                :value="true"
                                color="success"
                                outlined
                              >
                            <h1> Success! </h1>
                             <v-btn color="success" :href="/status/+state.response.data.source_id">
                               Track the status of your submission
                            </v-btn>
                              </v-alert>
                                </v-flex>
                            </v-layout>
                    </div>
                    
                    <!-- Advanced Options Elements -->
                     <v-toolbar color="primary" dark>
                            <v-toolbar-title>Advanced Options</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-checkbox v-model="form.update" label="Submit New Version"
                        :value=false></v-checkbox>
                        <v-checkbox v-model="form.test" label="Submit as Test Submission"
                        :value=false></v-checkbox>
                        <v-checkbox v-model="form.passthrough" label="Skip Data Extraction"
                        :value=false></v-checkbox>
                        <v-checkbox v-model="state.debug" label="Debug Mode"
                        :value=false></v-checkbox>
                    <!-- END Advanced Options Elements -->
                    

                    <!-- Debug Elements -->
                    <div id="debug" v-if="state.debug">
                    <v-toolbar color="primary" dark>
                            <v-toolbar-title>Debug</v-toolbar-title>
                    </v-toolbar>
                    <v-btn color="primary" @click="fill_dummy_data">Fill Dummy Data</v-btn>
                            <pre><code class="json"> {{form}} </code></pre>
                    </div>

                    </div>



                    <!-- END Debug Elements -->


                    </v-flex>
                </v-layout>
                <v-container>

        </v-app>
    </div>
    </v-content>
    </v-container>

<script src="./static/js/dataset_form.js"></script>

{% endraw %}

</body>

</html>