<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" />

    <title>MDF Connect - {%block title%}{%endblock%}</title>

    {# CSS files #}

    {# BS 4 #}

    {# BS 3 #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mdf-style.css')}}" />

    {# Custom Fonts #}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    {# JavaScript files #}
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="https://cdnjs.com/libraries/1000hz-bootstrap-validator"></script>

    <style>
      .invalid {
        color: red;
      }
    </style>

    <script type="text/javascript">
      $( document ).ready(function() {
        form_data = {}
        function update_form_data(){
          const moc_data = {
            services:{
                globus_publish:false,
                citrine: false,
                mrr:false
              },
            dc:{
                publicationYear:"2018",
                identifier: {
                      identifier: '10.test/1',
                      identifierType: 'DOI'
                    },
                publisher:"Materials Data Facility",
                subjects: [],
                titles: [],
                creators: [],
                descriptions: [],
                resourceType: {
                    resourceTypeGeneral: "Dataset"
                }
            },
            test: true,
            data:[]
          }

          // Format the title into dc
          moc_data.dc.titles.push({"title":$('#titleInput').val()}) 

          // Format the authors
          authors = $('#authorPillbox').pillbox('items')
          for (var i = 0, l = authors.length; i < l; i++) {
            moc_data.dc.creators.push({"creatorName":authors[i].text})
          }

          // Format the data locations
          data_locations = $('#dataPillbox').pillbox('items')
          for (var i = 0, l = data_locations.length; i < l; i++) {
            console.log(data_locations[i].text);
            moc_data.data.push(data_locations[i].text)
          }

          // Format the institutions
          institutions = $('#insitutionPillbox').pillbox('items')
          for (var i = 0, l = institutions.length; i < l; i++) {
            console.log(institutions[i].text);
            moc_data.data.push(institutions[i].text)
          }

          // Format the tags
          tags = $('#tagsPillbox').pillbox('items')
          for (var i = 0, l = tags.length; i < l; i++) {
            moc_data.dc.subjects.push({"subject":tags[i].text})
          }

          // Format the services
          if ($("#publishCheck").is(":checked")){
            moc_data.services.globus_publish = true
          } 
          if ($("#mrrCheck").is(":checked")){
            moc_data.services.mrr = true
          }  
          if ($("#citrinationCheck").is(":checked")){
            moc_data.services.citrine = true
          }  
          console.log(moc_data)
          return moc_data
        }

      $('#authorPillbox').pillbox({"acceptKeyCodes":[13]});
      $('#institutionPillbox').pillbox({"acceptKeyCodes":[13]});
      $('#dataPillbox').pillbox({"acceptKeyCodes":[13]});
      $('#tagsPillbox').pillbox({"acceptKeyCodes":[13]});

      function validate_pillboxes(){
        valid = true

        title = $('#titleInput').val()
        if (!title){
          $('#titleLabel').addClass("invalid")
          valid = false
        }else{
          $('#titleLabel').removeClass("invalid")
        }

        authors = $('#authorPillbox').pillbox('items')
        if (authors.length == 0 ){
          $('#authorLabel').addClass("invalid")
          valid = false
        }else{
          $('#authorLabel').removeClass("invalid")
        }

        data_locations = $('#dataPillbox').pillbox('items')
        if (data_locations.length == 0 ){
          $('#dataLabel').addClass("invalid")
          valid = false
        }else{
          $('#dataLabel').removeClass("invalid")
        }

        return valid
     }

      function clear_form(){
        pillboxes  = [$("#dataPillbox"), 
                      $("#authorPillbox"), 
                      $("#tagsPillbox"), 
                      $("#institutionPillbox")]

        for (var i = 0, l = pillboxes.length; i < l; i++) {
          pillboxes[i].pillbox('removeItems');
        }

        $("#titleInput").val("")
     }

      $("#submit-button").click(function(){
        form_data = update_form_data();
        valid = validate_pillboxes();
        if (valid == true){
          console.log(form_data)
            $.ajax({
              url: '/api/convert',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify(form_data),
              dataType: 'json'
          }).done(function(data){
            console.log("done")
            console.log(data)
          })
            .success(function(data){
              console.log("success")
              console.log(data)
              $("#successAlert").addClass("visible")
              $("#successAlert").removeClass("invisible")
              clear_form()
          })
            .fail(function(err){
              console.log("error")
              console.log(err)
            });
        }
      })
    });
    
   
    </script>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>

  
  </head>

  {%include 'header.jinja2'%}
  <body>



    <!-- Page body -->
    {%block body%}
    {%endblock%}

    <!-- Page footer -->
    {%include 'footer.jinja2'%}

  </body>
</html>
