<!-- Footer -->

<footer class="dkblue">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 logo">
          <a href="http://www.uchicago.edu/" target="_blank"><img srcset="/static/img/logo_UC_white@2x.png 795w, /static/img/logo_UC_white@1x.png 398w" src="/images/logo_UC_white@1x.png" alt="University of Chicago logo" class="img-responsive center-block uc-logo" /></a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 logo">
          <a href="http://illinois.edu/" target="_blank"><img srcset="/static/img/logo_UI_white@2x.png 1414w, /static/img/logo_UI_white@1x.png 707w" src="/images/logo_UI_white@1x.png" alt="University of Illinois logo" class="img-responsive center-block ui-logo" /></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 logo">
          <a href="http://www.anl.gov/" target="_blank"><img srcset="/static/img/logo_ANL_white@2x.png 795w, /static/img/logo_ANL_white@1x.png 398w" src="/images/logo_ANL_white@1x.png" alt="Argonne National Laboratory logo" class="img-responsive center-block anl-logo" /></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 logo">
          <a href="http://www.nist.gov/" target="_blank"><img srcset="/static/img/logo_NIST_white@2x.png 679w, /static/img/logo_NIST_white@1x.png 340w" src="/images/logo_NIST_white@1x.png" alt="National Institute of Standards and Technology logo" class="img-responsive center-block nist-logo" /></a>
        </div>
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-2 logo">
          <a href="http://chimad.northwestern.edu/" target="_blank"><img srcset="/static/img/logo_ChiMaD_white@2x.png 679w, /static/img/logo_ChiMaD_white@1x.png 340w" src="/images/logo_ChiMaD_white@1x.png" alt="Center for Hierarchical Materials Design logo" class="img-responsive center-block chimad-logo" /></a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <p class="copyright col-xs-12">&copy; <script>document.write(new Date().getFullYear())</script> University of Chicago, Argonne National Laboratory</p>
      </div>
    </div>
  </footer>


{%include 'scripts.jinja2'%}
