
      <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color:white;">
                    <a href="/">
                    <img src="{{url_for('static', filename='img/MDF-logo@2x.png')}}" width="200" class="d-inline-block align-top" alt="">
                    </a>
                    <a class="ml-3" href="http://chimad.northwestern.edu">
                          <img src="{{url_for('static', filename='img/chimad-dark.png')}}" width="135" class="mr-4 d-inline-block align-top float-right" alt="">
                      </a>
                      <a href="https://www.nist.gov">
                        <img src="{{url_for('static', filename='img/nist-dark.png')}}" width="100" class="mr-4 d-inline-block align-top float-right" alt="">
                      </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      
                      <ul class="navbar-nav mr-auto">
                      {%if session.get('is_authenticated')%}
                      <li class="nav-item mt-2">  {{session["primary_username"]}}</a> </li>
                      <li class="nav-item ml-4"> <a class="btn btn-outline-dark" href="{{url_for('logout')}}">Logout</a></li>

                                  <!-- Display these links if user is not authenticated -->
                      {%else%}
                        <li class="nav-item"><a class="btn btn-outline-dark" href="{{url_for('login')}}">Login</a></li>
                      {%endif%}
                      </ul>
                      
                    </div>
                  </nav>