{%extends "base.jinja2"%}

{%block title%}Home{%endblock%}

{%block body%}

 <div id="hero-03">
            <div class="container d-flex flex-column" style="min-height: 30vh;">
                <div class="row my-auto">
                    <div class="col-lg-6 col-md-12 col-sm-12 my-lg-auto py-3 my-3 text-center text-lg-left">
                        <h1 class="display-4 mt-2 font-weight-normal"> MDF Connect</h1>

                            <div class="mb-2">
                                <h5>Actions</h5>
                                <a class="btn btn-outline-dark mr-2" href="/add">Become a Contributor</a>
                              <a class="btn btn-outline-dark mr-2" href="https://petreldata.net/mdf/?q=*&filter-match-any.mdf.resource_type=dataset">
                                                Browse Published Data
                                </a>
                            </div>
                            <!-- <div class="mb-2">
                                <h5>Documentation</h5>
                                <a class="btn btn-outline-dark mr-2" href="">MDF Slide Deck</a>
                            </div> -->

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-auto mx-auto p-4">
                        <img class="pt-4 w-100 my-5" src="{{url_for('static', filename='img/MDF-logo@2x.png')}}">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="py-5 bg-light" id="content-publish">
                <div class="container py-1">
                <h2 class="display-4 mb-2">Publish Data</h2>
                    <div class="row mb-1">
                        <div class="col-lg-4 col-md-6 col-sm-12 pt-2">
                            <img class="mb-3" src="{{url_for('static', filename='icons/primary/numbers-1.svg')}}" height="64px">
                            <h3 class="h5 mb-2 mr-4">Sign up and Join <span><img src="{{url_for('static', filename='icons/primary/business-44.svg')}}" class="mb-1" height="32px"> </span></h3>
                            <p> Sign up for free Globus account using existing credentials. Join group for access to data publication capabilities. </p>

                            <ul class="list-unstyled mb-2">
                                <li class="mb-2">
                                    <i class="fa fa-chevron-circle-right mr-2"></i>
                                    <a class="btn btn-lg btn-outline-dark mr-2" href="https://www.globus.org/SignUp">
                                        Create a Free Account
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <i class="fa fa-chevron-circle-right mr-2"></i>
                                    <a class="btn btn-lg btn-outline-dark mr-2" href="https://app.globus.org/groups/1c562600-1083-11e6-846d-22000ab80e73/about">
                                        Join this Group</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pt-2">
                            <img class="mb-3" src="{{url_for('static', filename='icons/primary/numbers-2.svg')}}" height="64px">
                            <h3 class="h5 mb-2 mr-4">Collect<span> <img src="{{url_for('static', filename='icons/primary/science-20.svg')}}" class="mb-1" height="32px"> </span></h3>
                            <p> Collect the data into your preferred file structure, preferably in openly accessible formats. Feel free to nest files as deeply as necessary for your use case, our indexers will find them! </p>
                            <ul class="list-unstyled mb-2">
                                <li class="mb-2">
                                    <i class="fa fa-chevron-circle-right mr-2"></i>
                                    <a class="btn btn-lg btn-outline-dark mr-2" href="https://www.globus.org/app/endpoints/create-gcp">
                                        Set up an endpoint</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-left pt-2">
                            <img class="mb-3" src="{{url_for('static', filename='icons/primary/numbers-3.svg')}}" height="64px">
                            <h3 class="h5 mb-2 mr-4">Publish <img src="{{url_for('static', filename='icons/primary/science-27.svg')}}" class="mb-1" height="32px"> </span></h3>
                            <p> Follow instructions in the form to publish your dataset.  </p>
                            <ul class="list-unstyled mb-2">
                                <li class="mb-2">
                                        <ul class="list-unstyled mb-5">
                                                <i class="fa fa-chevron-circle-right mr-2"></i>
                                                <div>
                                                <a class="btn btn-lg btn-outline-dark" href="/add">
                                                Publish Your Data</a></div>
                                                <div class="mt-2"><a class="btn btn-lg btn-outline-dark" href="https://github.com/materials-data-facility/connect_client">
                                                Python Tools</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
               
                <hr>
                    <div class="row mb-1">
                            <div class="col-lg-4 col-md-10 col-sm-12 mx-auto text-left">
                                <h3 class="h5 mb-1">Publish Large Datasets </h3>
                                <p class="mb-0 text-secondary">
                                    From kilobytes to terabytes, our data publication service can help you make your data available to the world.
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-10 col-sm-12 mx-auto text-left">
                                <h3 class="h5 mb-1">Get an Identifier</h3>
                                <p class="mb-1 text-secondary">When you publish your dataset, receive a permanent identifier (e.g., DOI) to make citing your work simple.</p>
                            </div>
                            <div class="col-lg-4 col-md-10 col-sm-12 mx-auto text-left">
                                <h3 class="h5 mb-1">Simplify Discovery and Access</h3>
                                <p class="mb-0 text-secondary">
                                    Researchers will be able to find datasets through the MDF services and through Google Scholar.
                                    Dataset contents can be accessed via Globus or web (HTTPS).  
                                </p>
                            </div>
                    </div>
                  
                </div>
                
            </div>
        
            <div class="py-2 bg-transparent" id="content-stats">
                <div class="container py-2">
                <h2 class="display-4 mb-3">MDF Stats</h2>
                    <div class="row pb-5 mt-5 mb-4">
                        <div class="col-lg-4 col-md-8 col-sm-12 text-center my-4 mx-auto">
                            <h3 class="display-3 mb-2">>120</h3>
                            <p class="text-secondary lead">Datasets</p>
                        </div>
                        <div class="col-lg-4 col-md-8 col-sm-12 text-center my-4 mx-auto">
                            <h3 class="display-3 mb-2">>35 TB</h3>
                            <p class="text-secondary lead">Materials Data Published</p>
                        </div>
                        <div class="col-lg-4 col-md-8 col-sm-12 text-center my-4 mx-auto">
                            <h3 class="display-3 mb-2">>100</h3>
                            <p class="text-secondary lead">Data Sources Indexed</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="py-2 bg-light" id="content-citation">
                <div class="container py-2">
                    <h2 class="display-4 mb-3">How to Cite</h2>
                    <p>
                        If you find MDF useful in your research, please cite the following papers:
                        <ul>
                        <li>
                         Blaiszik, B., K. Chard, J. Pruyne, R. Ananthakrishnan, S. Tuecke, and I. Foster. "The Materials Data Facility: Data services to advance materials science research." JOM 68, no. 8 (2016): 2045-2052.
                         <a href="https://link.springer.com/article/10.1007%2Fs11837-016-2001-3">(link)</a>
                         </li>
                         <li>
                         Blaiszik, B, L. Ward, M. Schwarting, J. Gaff, R. Chard, D. Pike, K. Chard, and I. Foster. "A Data Ecosystem to Support Machine Learning in Materials Science." arXiv preprint arXiv:1904.10423 (2019).
                        <a href="https://arxiv.org/abs/1904.10423">(link)</a>
                         </li>
                    </p>
                </div>
            </div>

           
            <div class="py-2 bg-transparent" id="content-support">
                    <div class="container py-2">
                    <h2 class="display-4 mb-3">Support</h2>
                    <h4> CHiMaD Phase I </h4>
                    <p>
                    This work was performed under financial assistance award 70NANB14H012 from U.S. Department of Commerce, National Institute of Standards and Technology as part of the Center for Hierarchical Material Design (CHiMaD).                    
                    </p>
                    <h4> CHiMaD Phase II</h4>
                    <p>
                    This work was performed under the following financial assistance award 70NANB19H005 from U.S. Department of Commerce, National Institute of Standards and Technology as part of the Center for Hierarchical Materials Design (CHiMaD).
                    </p>
                    </div>
            </div>



            <footer>
            <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright: University of Chicago
        </div>
        <!-- Copyright -->
        </footer>
        <!-- Footer -->



{%endblock%}
