{%extends "base.jinja2"%}

{%block title%}Home{%endblock%}

{%block body%}

<div class="container-fluid"></div>
<!-- Main jumbotron for a primary marketing message or call to action
-->
<div class="container">
    <div class="jumbotron">
        <div class="container">
             <h1>MDF Connect</h1>
             <h3>It&apos;s never been easier to share your data with the community. Tell your research story.</h3>
            <p><a class="btn btn-primary btn-xl" href="/add" role="button">Become a Contributor</a>
            </p>
        </div>
    </div>
</div>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                 <h1>How does it work?</h1>
                 <h3> Add text, graphic, and description of MDF Connect Flow</h3>
            </div>
        </div>
    </div>
</section>
<section class="ltblue">
    <div class="container">
        <div class="row">
            <div class="col-12">
                 <h1> Featured Datasets </h1>
                 <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="http://via.placeholder.com/350x150" alt="...">
                      <div class="caption">
                      <h3>Test dataset</h3>
                      <p>Dataset description</p>
                      <p><a href="#" class="btn btn-xs btn-success" role="button">See Dataset</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="http://via.placeholder.com/350x150" alt="...">
                      <div class="caption">
                      <h3>TEM image Dataset</h3>
                      <p>Dataset description</p>
                      <p><a href="#" class="btn btn-xs btn-success" role="button">See Dataset</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="http://via.placeholder.com/350x150" alt="...">
                      <div class="caption">
                        <h3>DFT Dataset</h3>
                        <p>Dataset description</p>
                        <p><a href="#" class="btn btn-xs btn-success" role="button">See Dataset</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="http://via.placeholder.com/350x150" alt="...">
                      <div class="caption">
                        <h3>DFT Dataset</h3>
                        <p>Dataset description</p>
                        <p><a href="#" class="btn btn-xs btn-success" role="button">See Dataset</a></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                 <h1> Support </h1>
This work was performed under financial assistance award 70NANB14H012
                from U.S. Department of Commerce, National Institute of Standards and Technology
                as part of the Center for Hierarchical Material Design (CHiMaD). This work
                was also supported by the National Science Foundation as part of the Midwest
                Big Data Hub under NSF Award Number: 1636950 &quot;BD Spokes: SPOKE: MIDWEST:
                Collaborative: Integrative Materials Design (IMaD): Leverage, Innovate,
                and Disseminate&quot;.</div>
        </div>
    </div>
</section>

{%endblock%}
