{%extends "base.jinja2"%}

{%block title%}Home{%endblock%}

{%block body%}

<div class="container-fluid"></div>
<!-- Main jumbotron for a primary marketing message or call to action
-->
<div class="container">
    <div class="jumbotron">
        <div class="container">
             <h1>MDF Connect</h1>
             <p>It has never been easier to share your data with the community. Deposit data once, send to partner services. </p>
             <p>Tell your research story.</hp>
            <p><a class="btn btn-primary btn-xl" href="/add" role="button">Become a Contributor</a>
            </p>
        </div>
    </div>
</div>
<section id="features">
    <div class="container">
      <h1> How to Get Started </h1>
        <div class="row">
        <div class="col-sm-6 col-md-4 feature-block">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3">
                <img srcset="/static/img/publication-icon@2x.png 288w, /static/img/publication-icon@1x.png 144w" src="/static/img/publication-icon@1x.png" id="publication_icon" alt="Publication icon" class="img-responsive" />
              </div>
              <div class="col-xs-12">
                <h2>1 - Collect Your Data</h2>
                <p>
                  Collect the data into your preferred file structure, preferably in openly accessible formats.
                   Feel free to nest files as deeply as necessary for your use case, our indexers will find them!
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 feature-block">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3">
                <img srcset="/static/img/metadata-icon@2x.png 288w, /static/img/metadata-icon@1x.png 144w" src="/static/img/metadata-icon@1x.png" id="metadata_icon" alt="Metadata icon" class="img-responsive" />
              </div>
              <div class="col-xs-12">
                <h2>2 - Describe Your Data</h2>
                <p>
                  Describe your dataset using the MDF Connect form, and add any additional descriptions
                  to a README or README.md file in the base directory.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 feature-block">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3">
                <img srcset="/static/img/workflow-icon@2x.png 288w, /static/img/workflow-icon@1x.png 144w" src="/static/img/workflow-icon@1x.png" id="access_icon" alt="Access icon" class="img-responsive" />
              </div>
              <div class="col-xs-12">
                <h2>3 - Submit Data</h2>
                <p>
                  Select where you want your dataset deposited and let us handle the rest.
                </p>
                <p><a class="btn btn-primary btn-l" href="/add" role="button">Become a Contributor</a></p>
              </div>
            </div>
          </div>
            </div>
        </div>
    </div>
</section>
<section class="ltblue">
    <div class="container">
        <div class="row">
            <div class="col-12">
                 <h1> Featured Datasets </h1>
                 <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                      <h4>Accelerated Discovery of Metallic Glasses through Iteration of Machine Learning and High-Throughput Experiments</h4>
                      <p><i>Fang et al.</i></p>
                      <p><a href="http://dx.doi.org/10.18126/M2B06M" class="btn btn-xs btn-success" role="button">See Dataset</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                      <h4>Spatially Heterogeneous Dynamics in a Metallic Glass Forming Liquid Imaged by Electron Correlation Microscopy</h4>
                      <p><i>Zhang et al.</i></p>
                      <p><a href="http://dx.doi.org/10.18126/M2GW5F" class="btn btn-xs btn-success" role="button">See Dataset</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                      <h4>Dataset for Electronic properties of doped and defective NiO -- a Quantum Monte Carlo study</h4>
                      <p><i>Shin et al.</i></p>
                      <p><a href="http://dx.doi.org/10.18126/M2HW64" class="btn btn-xs btn-success" role="button">See Dataset</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <h4>Coherent Band Excitations in CePd3</h4>
                        <p><i>Osborn et al.</i></p>
                        <p><a href="http://dx.doi.org/10.18126/M2C914" class="btn btn-xs btn-success" role="button">See Dataset</a></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dkblue">
    <div class="container">
        <div class="row">
        <h1> Advantages of MDF Connect </h1>
        
        <h2> Get credit for your research with added citations </h2>
        <p> test</p>

        <h2> Deposit data in one location, send to many </h2>
        <p> test</p>

        <h2> Solve your data management problems </h2>
        <p> test</p>

        <h2> Become a data superstar </h2>
        <p> test</p>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                 <h1> Support </h1>
This work was performed under financial assistance award 70NANB14H012
                from U.S. Department of Commerce, National Institute of Standards and Technology
                as part of the Center for Hierarchical Material Design (CHiMaD). This work
                was also supported by the National Science Foundation as part of the Midwest
                Big Data Hub under NSF Award Number: 1636950 &quot;BD Spokes: SPOKE: MIDWEST:
                Collaborative: Integrative Materials Design (IMaD): Leverage, Innovate,
                and Disseminate&quot;.</div>
        </div>
    </div>
</section>

{%endblock%}
