<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-container>
        <v-app id="inspire">
                <v-toolbar color="" :dark=false>
                        <img 
                            src="https://connect.materialsdatafacility.org/static/img/MDF-logo@2x.png"
                            height="50">
                        
                            <v-toolbar-title>MDF Connect</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn >
                          Browse Datasets
                        </v-btn>
                        <v-btn >
                          My Submissions
                        </v-btn>
                        
                      </v-toolbar>

            <v-content>
                <v-layout left-justify>
                    <v-flex xs20 sm12>
                        <v-toolbar color="primary" dark>
                            <v-toolbar-title>Dataset Status</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-container fluid fill-width>
                         {% if status_res.success == true %}
                            <h3>Status for submission: {{status_res.status.source_id}}</h3>
                        {% else %}
                            <h3>Status unavailable for submission</h3>
                        {% endif %}

  {% if status_res.success == true %}

  {% for result in status_res.status.status_list %}
  <v-card>
  <v-card-title> {{result.text}}</v-card-title>
  <v-card-actions>
   {% if result.signal == "success" %}
      <v-chip label outline color="green">{{result.signal}}</v-chip>
  {% elif result.signal == "idle" %}
    <v-chip label outline dark> {{result.signal}}</v-chip>
  {% elif result.signal == "started" %}
    <v-chip label outline color="blue">{{result.signal}}</v-chip>
  {% elif result.signal == "warning" %}
    <v-chip label outline color="orange">{{result.signal}}</v-chip>
  {% elif result.signal == "failure" %}
    <v-chip label outline color="red">{{result.signal}}</v-chip>
  {% else %}
    <v-chip label outline dark">{{result.signal}}</v-chip>
  {% endif %}
  <a href="{{result.link}}">{{result.link}}</a>

  </v-card-actions>
  </v-card>
  

  {% endfor %}
  {% endif %}


                        </v-container>

        </v-app>
    </div>
    </v-content>
    </v-container>

    <script>
        new Vue({
          el: "#app",
          data: () => ({test:123})
        })
       
    </script>

</body>

</html>
