{%extends "base.jinja2"%}

{%block title%}Status{%endblock%}

{%block body%}



<div class="container">
  <div class="row">
          <div class="col-md-12">
            <h1>Dataset Status</h1>
            {% if status_res.success == true %}
                <h3>Status for submission: {{status_res.status.source_id}}</h3>
            {% else %}
                <h3>Status unavailable for submission: {{status_res.status.source_id}}</h3>
            {% endif %}
          </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      {% for result in status_res.status.status_list %}
      <div class="row clearfix">
                  <div class="col-md-12 column">
                      <div class="list-group">

                          <div class="list-group-item">
                              <h4 class="list-group-item-heading">
                                  {{result.text}}
                                  </a>
                              </h4>
                              <a href="{{result.link}}">{{result.link}}</a>
                              <p class="list-group-item-text">
                                {% if result.signal == "success" %}
                                    <span class="col-md2 label label-success">{{result.signal}}</span>
                                {% elif result.signal == "idle" %}
                                  <span class="col-md2 label label-default">{{result.signal}}</span>
                                {% elif result.signal == "started" %}
                                  <span class="col-md2 label label-info">{{result.signal}}</span>
                                {% elif result.signal == "warning" %}
                                  <span class="col-md2 label label-warning">{{result.signal}}</span>
                                {% elif result.signal == "failure" %}
                                  <span class="col-md2 label label-danger">{{result.signal}}</span>
                                {% else %}
                                  <span class="col-md2 label label-default">{{result.signal}}</span>
                                {% endif %}
                              </p>

                          </div>
                      </div>
                      </div>
                      </div>
        {%endfor%}
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">
             Dataset ID: {{status_res.status.source_id}}
            </h3>
          </div>
        </div>
</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <div id="app"></div>
  </div>




{%endblock%}
